page-modify-result {

span.warning_icon{width:100%; text-align:center; padding:20px 0; width: 100%; padding: 20px 0 10px;display: block;}
    span.warning_icon ion-icon{font-size: 40px; color: #e67309;}
	.booking_btn{margin-top:30%;}
	.green_btn{background-color:#02504c; color:#fff; padding:20px 0;}
	p{text-align:center;}

	a.modify_text{color:#02504c; text-decoration:none;}

}
