page-select-other-sport {

	.select_sports{padding:20px 0; text-align:center; display:block; border:1px solid #02504c; border-radius:10px; text-decoretion:none;}
	h1{font-size:22px; padding:10px; color:#263238;}
	.select_sports span{color:#02504c; width:100%; font-weight:500; display:block;}
	.details{margin:15px 10px; background:#015e65;; border-radius:10px; padding:8px 13px;}
	.details p{color:#fff; margin:0px;}
	.toolbar-background-md {background: #003034 !important;}
	.toolbar-title-md{color:#fff;}
	.skip_btn{background:#fff; color:#02504c !important;  font-size:15px; padding:10px 15px; border:1px solid #02504c;}

}
