page-tabs{
.tabs-md .tab-button[aria-selected=true]{color:#fff !important;}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon{color:#fff !important;}
.tabs-md .tab-button[aria-selected=false]{color:#fff !important;}
.tabs-md .tab-button[aria-selected=false] .tab-button-icon{color:#fff !important;}
.tabs-md .tabbar{background:#003034;}
}