.featured-players {

.grid{padding:0px;}
.card-md{margin:2px 0 0 0; width:100%; padding:10px; border-radius:0px;}
.card-title-md{font-size:15px; font-weight:bold; padding:0; text-align:center;}
.card-content-md{padding-bottom:5px;}
.text-color{color:color($colors,green-text);}
.heart_icon{position:absolute; top:12px; right:15px;}
.heart_icon a{font-size:20px; color:#003034; text-decoration:none;}
}
span.back{font-size:18px; padding-right:20px; }	