page-accessdealsinner {
   .arrow{font-size: 80px;color: white;font-weight: bold;position: absolute;margin-top: 20px;margin-left: 20px;} 
    .detailscontent{    margin-top: -30px;}
    .learnmore{font-weight: bold;}
    .rulesapplied{ margin-top: -30px; }
    .rules{margin-top: -30px;}
    .paragraph{margin-top: -10px;}
    .contentheading{font-weight: bold;}
    .datesofexpiry{color: orange}
   
}

