@import '../detail.scss';

page-venue-ground-detail {

span.back{font-size:25px; position:absolute; top:15px; left:15px; color:#fff;}
	span.back ion-icon{color:#fff; font-weight:bold; }
	.text-color{color:color($colors,green-text);}
	p.sub_title{line-height:25px; padding:0;}
	p{padding:0 20px;}
	ion-icon{color:#003034;}
	p img{width:40px; margin-top:20px;}
	agm-map{
        height: 300px !important;
    }

}
