page-contact {

p{color:#263238;}
.input[type="checkbox"], input[type="radio"]{width:23px; height:23px; vertical-align: middle;}
.radio_group{margin-top:15px;}
.radio_group ion-label{color:#263238; font-size:14px;}
.green_btn{background-color:#02504c; color:#fff; padding:17px 0px !important; height:auto; font-size:15px !important;}
.radio_group .item-inner{border-bottom:none !important;}
.item-input ion-input, .item-input ion-textarea{color:black !important}

}
