page-request-player-list {

	span.back{font-size:18px; padding-right:20px; }	
	.text-color{color:color($colors,green-text);}
	.player_img{border-radius:40px; width:60px; height:60px; margin-left:10px;}
	.item-md{padding-left:0px;}
	p{font-size:13px;}
	p.blue_text{color:#455a64;}
	p.orange_text{color:#e67309;}
	.name-title{font-size:18px;}
	p img{width:35px;}
	.item-md.item-block .item-inner{padding-right:0px;}
	p.right_item{text-align:center;}
	.label-md{margin-bottom:5px !important;}
	p b.green_text{color:#008000;}


}
