page-accessdeals {
    .cardheading{font-weight: bold;margin-top: -15px; margin-left: -20px;color: rgb(1, 43, 1);} 
    .expirewaring{margin-left: -20px;}
    .morecontent{margin-top:-15px}
    .moreanchortag{color: rgb(1, 43, 1);font-weight: bold;}
}
