[message] .message-body{
    vertical-align: middle;
    height: 100%;
    position: fixed;
    text-align: center;
    color: #888888;
    margin: 40% 10% 0% 5%;
}

[message] .message-icon {
    font-size: 92px;
}

[message] .message-text {
    text-align: center;
}