page-editaboutme {
    .green_btn{background-color:#02504c; color:#fff; padding:17px 0px !important; height:auto; font-size:15px !important;}
    .item-input ion-input, .item-input ion-textarea{color:black !important}
    
}
