page-choose-family-from-database {
.save-btn{margin-top:20px;}
.button_section button{margin:20px 0; background-color:#003034; padding:25px 0; font-weight: normal;
	text-transform: unset; font-size: 15px;}
.search_member label{padding-left:10px;}
.search_member .searchbar-input-container{border:1px solid #003034;}
.add_member{margin-top:35px;}
.add_member h3{text-align:center;}
.auto_complete{background:#fff;}
.auto_complete .list-md{background:#fff;}
}

