<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>Search Parameter</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding detail>
  <ion-toolbar no-border-top class="tab_menu">
    <ion-segment [(ngModel)]="searchData.searchType" (ngModelChange)="changeSearchType($event)">
      <ion-segment-button value="LOCATION">
        <ion-icon name="pin"></ion-icon>
        <br/>Location
      </ion-segment-button>
      <ion-segment-button value="USER">
        <ion-icon name="person"></ion-icon>
        <br/>Name
      </ion-segment-button>
      <ion-segment-button value="CLUB">
        <ion-icon name="flag"></ion-icon>
        <br/>Home Club
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-list>
    <ion-item no-border-bottom class="location-label" *ngIf="searchData.searchType == 'LOCATION'">
      <ion-label stacked>Where you want to play?</ion-label>
    </ion-item>
    <ion-item no-border-bottom class="location-input" *ngIf="searchData.searchType == 'LOCATION'">
      <input #searchLocation placeholder="" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control text-input text-input-md"
        [formControl]="locationSearchControl" [(ngModel)]="searchData.address.formattedAddress" (ngModelChange)="changeLocation($event)">
    </ion-item>

    <ion-item *ngIf="searchData.searchType == 'USER'">
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" placeholder="Player Name (optional)" name='userName' id='userName' [(ngModel)]="searchData.userName"></ion-input>
    </ion-item>

    <div class="home_club" *ngIf="searchData.searchType == 'CLUB'">
      <ion-label stacked>Home Club</ion-label>
      <ion-item>
        <ion-label class="club_lable">Do you want to restrict by home club?</ion-label>
        <ion-toggle name="searchData.club" id="searchData.club" [(ngModel)]="searchData.restrictHomeClub" disabled="{{(clubs == null || clubs.length == 0)?'true':'false'}}"></ion-toggle>
      </ion-item>

      <ion-item no-border-bottom class="note">
        <span> 
              <ion-icon name="information-circle"></ion-icon>
                Note : Setting the home club will lock the location and clun name. Once you click search you will be able
                to apply filters on age and ranking to further narrow down you search.
          </span>
      </ion-item>

      <ion-item *ngIf="searchData.restrictHomeClub == true">
        <ion-label stacked class="club_name">Club Name</ion-label>
        <ion-select [(ngModel)]="searchData.club">
          <ion-option *ngFor="let club of clubs" value="{{club.clubId}}"> {{club.clubName}}</ion-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-item *ngIf="searchData.searchType != 'CLUB'">
      <ion-label stacked>Distance({{ searchData.distance }} mile{{searchData.distance > 1?'s':''}})</ion-label>
      <ion-range min="0" max="100" name='distance' id='distance' [(ngModel)]="searchData.distance" color="secondary">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>100</ion-label>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label stacked>Age ( {{ searchData.advAgeStart }}-{{searchData.advAgeEnd}}yrs)</ion-label>
      <ion-range dualKnobs="true" pin="true" [(ngModel)]="searchData.advAge" (ngModelChange)="changeAgeRange($event)" dualKnobs="true"
        min="5" max="75" snaps="ture">
        <ion-label range-left>5</ion-label>
        <ion-label range-right>75</ion-label>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label stacked>Select Your Sport</ion-label>
      <ion-select name="sportSelectedId" [(ngModel)]="searchData.sportId" (ngModelChange)="changeSport($event)" required>
        <ion-option *ngFor="let item of sports" value="{{ item.sportId }}">{{ item.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="searchData.sportId != null">
      <ion-label stacked>Ranking Type</ion-label>
      <ion-select name="advRankType" [(ngModel)]="searchData.advRankingLevel" (ngModelChange)="changeRankType($event)">
        <ion-option *ngFor="let item of rankingTypeList" value="{{ item.rankTypeId }}">{{ item.name }}</ion-option>
      </ion-select>

    </ion-item>

    <ion-item *ngIf="searchData.advRankingLevel != null" no-border-bottom>
      <ion-label stacked>Ranking(E.g. 2-20)</ion-label>
    </ion-item>

    <ion-item *ngIf="searchData.advRankingLevel != null" no-border-bottom>
      <ion-label fixed>From</ion-label>
      <ion-input type="number" value="" [(ngModel)]="searchData.advFromRank"></ion-input>
    </ion-item>

    <ion-item *ngIf="searchData.advRankingLevel != null" no-border-bottom>
      <ion-label fixed>To</ion-label>
      <ion-input type="number" value="" [(ngModel)]="searchData.advToRank"></ion-input>
    </ion-item>

  </ion-list>

  <ion-footer>
    <ion-toolbar (click)="searchPlayers()">
      <ion-title>Search</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>