page-welcome-slider {


.logo{
    width: 50%;
	display: block;
	margin:10px auto 0 ;
	text-align: center;
	padding: 0px;
}
.layer {
    box-shadow: inset 0 0 0 1000px rgba(111, 52, 29, 0.61);
    width: 100%;
}
.app_title{font-weight: 700;text-align: center;color: #ffffff;font-size: 20px;}
.slide-zoom{height:100%;}
.main-content{text-align:center; width:100%; margin-top:25%;}
.main-content h{font-weignt:bold; color:#fff;}
.main-content a ion-icon{font-size:75px; color:#fff;}
.main-content{font-size:15px; color:#fff;}
.swiper-pagination-bullet-active{background:#fff;}
.swiper-pagination-bullet{width:15px; height:15px; border:2px solid #fff;}
.button-md{background:#fff; color:#a78274;}
.main-content img{width:115px;}
.mt0{margin-top:0;}
}
