page-featured-clubs {

span.back{font-size:18px; padding-right:20px; }	

.card-md {
    position: relative;
    text-align: left;
    margin:0px;
    width:100%;
    background:#000;
    max-height:160px;
    margin-bottom:10px;
  }
  .club_details{
  	position: absolute;
    bottom: 4%;
    width: 60%;
    left:3%;
    }
  .card-title {
    font-size: 1.3em;
    font-weight: 500;
    color: #fff;
    left:15px;
  }
  .card-subtitle {
    font-size: 15px;
    width: 100%;
    color: #fff;
  }
  

  	ion-card img{opacity:0.5;}

  	.google_map{position:absolute; right:8px; width:50px; bottom:4%;}
  	.google_map img{opacity:1;}

}
