page-find-ranking {
	/*.toolbar-background-md{background-color: #003034;}*/
	.toolbar-background-md{background: color($colors, header) !important;}
	.toolbar-title-md{color: color($colors,header-text) !important}

	.rounded {
        width: 100%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 25px;
        border:1px solid #000; 
    }

    .label-md{font-weight:bold; margin-bottom:5px; margin-top:15px; font-size:15px;}
    ion-select{max-width:100%;}
    .item-md{padding-left:0; }
    .select-md .select-icon .select-icon-inner{left:auto; right:20px;}
    .select-md .select-icon{position:inherit;}
    .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
    	border-bottom-color:0; box-shadow:none;
    }
    .item-md.item-block .item-inner{border-bottom:none;}
    .list-md{margin-bottom:0px;}

    .login-btn{ margin-top:15px;}

}
